:root {
    --border-color: #BC7B77;
    --bg-color-main: #fcfcfc;
}
@font-face {
    font-family: 'Squares Condensed Regular';
    src: url('../../fonts/tt-squares-condensed-8.ttf')  format('truetype');
    font-weight: 500; /* Если шрифт имеет особый вес */
    font-style: normal; /* Если это обычный стиль шрифта */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}
#form-title{
    margin-bottom: 20px;
    font-weight: 400;
}

.form-actions {
    margin-top: 20px;
}
.toggle-link {
    padding-top: 40px;
    margin-top: 20px;
    border-top: 2px solid #f0e9e9;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid #f0e9e9;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.form-group input::placeholder {
    color: #cccac4;
    font-size: 16px;
    font-family: 'Squares Condensed Regular', sans-serif;
}
.form-group input:focus {
    border-color: #ba6661;
    box-shadow: 0 0 5px #b86b67;
    outline: none;
}

/* Основной стиль кнопки */
 #submit-button {
     background-color: #f0e9e9;
     color: black;
     width: 100%;
     font-family: 'Squares Condensed Regular', sans-serif;
     font-size: 16px;
     padding: 10px 20px;
     border: 2px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

/* Стиль при наведении */
#submit-button:hover {
    background-color: var(--border-color); /* Более темный при наведении */
}

#go-to-button {
    background-color: white;
    color: #ebd3d3;
    width: 100%;
    font-family: 'Squares Condensed Regular', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #ebd3d3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход для цвета и эффекта */
}

/* Стиль при наведении */
#go-to-button:hover {
    background-color: #f0e9e9; /* Более темный синий при наведении */
}

.form-actions {
    text-align: center;
}

#message {
    margin-bottom: 10px;
}




