#matryoshkaContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    height: 100px;
    width: 70%;
}

.matryoshka {
    position: absolute;
    top: 0;
    transition: transform 1s ease-out, top 1s ease-out;
    opacity: 1;
    cursor: pointer;
}

.matryoshka_img {
    width: 80px;
}

.matryoshka_name {
    margin: 0;
    text-align: center;
}
